apiVersion: apps/v1
kind: Deployment
metadata:
  name: final
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web2
  template:
    metadata:
      labels:
        app: final
    spec:
      containers:
      - image: "nikitasp1992/main:{{BUILD_NUMBER}}"
        name: final
        imagePullPolicy: IfNotPresent
      restartPolicy: Always