apiVersion: apps/v1
kind: Deployment
metadata:
  name: final
  labels:
    app: final
spec:
  replicas: 1
  selector:
    matchLabels:
      app: final
  template:
    metadata:
      labels:
        app: final
    spec:
      containers:
      - image: "nikitasp1992/main:{{BUILD_NUMBER}}"
        name: final
        ports:
        - containerPort: 8080
      hostNetwork: true
      restartPolicy: Always